*~
*.o
*.zip
*.rar
*gz
*bz2
*.obj
*.a
*.so
*.lib
*.dll
*.swp
*.swo
tags
TAGS
*.exe
*.class
*.jar
*.pyc
/parser.out
/parsertab.py
/parser.pyc
/facts.pl
/factsAndRules.pl
/parsetab.py
/outputFromQueries/
